<br><div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/addsuppliers" style="font-weight: bold;">Add Suppliers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addhospitals" style="font-weight: bold;" >Add Hospitals</a>
      </li>
     <li class="nav-item">
    <a class="nav-link " href="/donorsdata" style="font-weight: bold;">View Donors</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#" style="font-weight: bold;">View Patients</a>
  </li>
    </ul>
  </div><br>
  <div class="fetch-btn">
   <button type="button" class="btn btn-secondary" id="patients-link" >Fetch Patients Data </button>
   </div><br>
   <div class="container mt-7">
  <table class="table table-bordered border-primary">
    <thead>
      <tr class="text-center">
        <th scope="col">Patient Name </th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
        <th scope="col">Used BloodId</th>
        <th scope="col">Blood Group</th>
        <th scope="col">Used Time</th>        
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div> 