<footer class="fixed-bottom bg-dark">
  <div class="container d-flex align-items-center justify-content-center">
    <span class="text-muted align-self-center">&copy; BlocksEater<%= Date.today.year %> All Rights Reserved</span>
  </div>
</footer>
