<div class="card" style="width: 18rem;">
  <div class="card-header">
    Blood Unique Id : 
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Blood Group : </li>
    <li class="list-group-item">Donated Time :</li>
    <li class="list-group-item">Current Status: </li>
  </ul>
</div><br>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Blood Unique Id : 
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Blood Group : </li>
    <li class="list-group-item">Donated Time :</li>
    <li class="list-group-item">Current Status: </li>
  </ul>
</div>

