    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
       <img class="d-block" width="400" height="350"   src="<%= image_path('c3.jpg') %>" alt="First slide">
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
            <img class="d-block w-40" width="400" height="400"   src="<%= image_path('c2.jpg') %>" alt="First slide">

      </div>
    </div>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
       <img class="d-block" width="400" height="350"   src="<%= image_path('c3.jpg') %>" alt="First slide">
      </div>
    </div>
    
      <hr class="featurette-divider">
  </div>

 
































<br><br><div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="card mb-4 shadow-lg" style="width: 22rem;">
      <img class="card-img-top" src="https://t3.ftcdn.net/jpg/03/48/55/20/360_F_348552050_uSbrANL65DNj21FbaCeswpM33mat1Wll.jpg"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Admin</h5>
          <a href="/addsuppliers" class="btn btn-primary" id="loginId1" >Login</a> 
        </div>
    </div>----
    <div class="card mb-4 shadow-lg" style="width: 20rem;">
      <img class="card-img-top" src="https://thumbs.dreamstime.com/b/supplier-word-written-wood-block-text-wooden-table-your-desing-concept-139801925.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Suppliers</h5>
          <a href="/adddonors" class="btn btn-success" id="loginId2" >Login</a>
        </div>
    </div>----
    <div class="card mb-4 shadow-lg" style="width: 22rem;">
      <img class="card-img-top" src="https://img.freepik.com/free-vector/people-walking-sitting-hospital-building-city-clinic-glass-exterior-flat-vector-illustration-medical-help-emergency-architecture-healthcare-concept_74855-10130.jpg"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Hospitals</h5>   
          <a href="/addpatients" class="btn btn-danger" id="loginId3">Login</a>
        </div>
    </div>
  </div>
</div>



