<br><br><div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="card mb-4 shadow-lg" style="width: 22rem;">
      <img class="card-img-top" src="https://t3.ftcdn.net/jpg/03/48/55/20/360_F_348552050_uSbrANL65DNj21FbaCeswpM33mat1Wll.jpg"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Admin</h5>
          <a href="/addsuppliers" class="btn btn-primary" id="loginId1" >Login</a> 
        </div>
    </div>
    <div class="card mb-4 shadow-lg" style="width: 20rem;">
      <img class="card-img-top" src="https://thumbs.dreamstime.com/b/supplier-word-written-wood-block-text-wooden-table-your-desing-concept-139801925.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Suppliers</h5>
          <a href="/adddonors" class="btn btn-success" id="loginId2" >Login</a>
        </div>
    </div>
    <div class="card mb-4 shadow-lg" style="width: 22rem;">
      <img class="card-img-top" src="https://img.freepik.com/free-vector/people-walking-sitting-hospital-building-city-clinic-glass-exterior-flat-vector-illustration-medical-help-emergency-architecture-healthcare-concept_74855-10130.jpg"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Hospitals</h5>   
          <a href="/addpatients" class="btn btn-danger" id="loginId3">Login</a>
        </div>
    </div>
  </div>
</div>
