<h1 class="text-center mt-2">Authorized Suppliers List</h1><br>
<div class="d-flex justify-content-center">
  <div class="row">
    <% @suppliers.each do |supplier| %>
      <div class="col-12 col-md-6">
        <div class="card bg-secondary">
          <div class="card-body shadow-lg">
            <h5 class="card-title text-center">Supplier Name : <%= supplier.name %></h5>
            <p class="card-text">
            <strong>Address:</strong> <%= supplier.address %><br>
            <strong>Phone Number:</strong> <%= supplier.phone_number %>
            </p>    
          </div>
        </div><br>
      </div>
    <% end %>
  </div>
</div>


